---
layout: page
permalink: /tags/
title: Tags
description: "An archive of posts sorted by tag."
extra_footer_html: |
  <script type='text/javascript'>
    if (window.location.hash.length > 0) {
      $(window.location.hash).collapse('show');
    }
  </script>
---

<div class="panel-group" id="tag-list">
{% for tag in site.tags %}
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#tag-list" data-target="#{{ tag[0] }}" href="#{{ tag[0] }}">
      <div class="panel-heading">
        <h2 class="panel-title">{{ tag[0] }}</h2>
      </div>
    </a>
    <div id="{{ tag[0] }}" class="panel-collapse collapse">
      <div class="panel-body">
	<ul class="list-unstyled">
	  {% assign pages_list = tag[1] %}
	  {% for post in pages_list %}
          <li><span class="post-date">{{ post.date | date_to_string }} » </span><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endfor %}
</div>
