<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bronson Philippa">
    <link rel="alternate" type="application/atom+xml" title="New posts" href="{{ site.url }}/feed.atom">

    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

    <link href="http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Open+Sans:300,400" rel="stylesheet" type="text/css">
    <link href="{{ site.url }}/{{ site.css }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% if page.use_mathjax %}
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
{{ page.extra_header_html }}
  </head>

  <body>
    <!--[if lt IE 9]><div class="alert alert-danger"><strong><a href="http://whatbrowser.org/">Your web browser is quite old!</strong> You should upgrade to a different web browser. Really, you should. Please?</a></div><![endif]-->
    <div class="topbar"></div>
