{% include precontent.html %}
{% include navbar.html %}
<article class="hentry main article" role="main" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  {% if page.link %}
  <h1 class="entry-title" itemprop="name"><a href="{{ page.link }}"> » {{ page.title }}</a></h1>
  {% else %}
  <h1 class="entry-title" itemprop="name">{{ page.title }}</h1>
  {% endif %}

  <p class="dateline">Published {{ page.date | date: "%d %B %Y" }}</p>

  {{ content }}

  <hr />

  <div class="blog-footer">
    Published {{ page.date | date: "%d %B %Y" }}{% if page.modified %} (revised: {{ page.modified | date: "%d/%m/%Y" }}){% endif %} by {{ site.owner.name }} (<a href="{{ site.url }}/about/">About page</a> | <a href="https://github.com/bronsonp">GitHub</a> | <a href="https://plus.google.com/+BronsonPhilippa?rel=author">Google+</a> | <a href="https://www.facebook.com/bronson.philippa">Facebook</a>)
    {% if page.tags.size > 0 %}
    <br />
    Tags: {% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}" rel="tag" class="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
    {% endif %}
  </div>
</article>

<div class="container">
  <h2>Now read:</h2>

  <div class="row">
    {% for page in site.related_posts limit:3 %}
    <div class="col-sm-4">
      <h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
      {{ page.content | markdownify | strip_html | truncatewords:35 }} <a href="{{ page.url }}"><strong>(Continue reading)</strong></a>
    </div>
    {% endfor %}
  </div>
</div>
{% include postcontent.html %}
